@page "/CommentManagement"
@using Microsoft.Extensions.Localization
@using global::JS.Abp.CommentManagement.Localization
@inject IStringLocalizer<CommentManagementResource> L
@{
}
<h1>CommentManagement</h1>
<p>@L["SamplePageMessage"]</p>