@page
@using Microsoft.Extensions.Localization
@using JS.Abp.CommentManagement.Localization
@using JS.Abp.CommentManagement.Web.Pages.CommentManagement
@model JS.Abp.CommentManagement.Web.Pages.CommentManagement.IndexModel
@inject IStringLocalizer<CommentManagementResource> L

@{
}
<h1>CommentManagement</h1>
<p>@L["SamplePageMessage"]</p>
